.basic-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  overflow: auto;
}
.shzu{
  position: absolute;
  top:20px;
  right:10px;
}

.tab {
  display: flex;
  flex: none;
  margin-bottom: 10px;
  border-radius: 4px;
  border: solid 1px #2b90f3;
  box-sizing: border-box;
  color: #2b90f3;
}

.tab-i {
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  transition: background .5s;

  &.active {
    background-color: #2b90f3;
    color: white;
  }
}

.table {
  display:flex;
  flex-direction: column;
  flex: auto;
  width: 100%;
  height:187px;
  overflow: auto;
  border: 1px solid #ddd;
  box-sizing: border-box;

}

.tr {
  display: flex;
  flex:auto;

  border-bottom: 1px solid #ddd;
  box-sizing: border-box;

  &:last-child {
    border-bottom: none;
  }

  &:nth-child(even) {
    background-color: #f5f7f8;
  }
}

.inline{

}

.td{
  position:relative;
  &:after{
    display:inline-block;
    content:' ';
    height:100%;
    vertical-align: middle;
  }
}

.td-k {
  flex: none;
  width: 100px;
  padding-right: 17px;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
}

.td-v {
  flex: auto;
  text-align: left;
  padding-left: 17px;
  box-sizing: border-box;
}

.td-phname{
  width:90px;
  flex:none;
  border-left:1px solid #ddd;
}
.td-phnum{
  width:114px;
  flex:none;
}