.title {
  display: flex;
  height: 16px;
  border-left: 6px solid #2b90f3;
  padding-left: 11px;
  margin-bottom: 10px;
}

.title-line {
  flex: auto;
  border-bottom: 1px dashed #ddd;
  margin: 0 8px;
}

.track-i {
  display: flex;
  height: 34px;
  line-height: 34px;
  background: #f5f5f5;
  margin-bottom: 2px;
}

.track-i-type {
  width: 66px;
  height: 22px;
  background-color: #867afd32;
  line-height: 22px;
  text-align: center;
  color: #867afd;
  border-radius: 22px;

  &.type-1 {
    background-color: rgba(29, 206, 200, .2);
    color: rgba(29, 206, 200, 1);
  }

  &.type-2 {
    background-color: rgba(254, 187, 8, .2);
    color: rgba(254, 187, 8, 1);
  }

  &.type-3 {
    background-color: rgba(254, 135, 8, .2);
    color: rgba(254, 135, 8, 1);
  }

  &.type-4 {
    background-color: rgba(240, 113, 113, .2);
    color: rgba(240, 113, 113, 1);
  }

  &.type-5 {
    background-color: rgba(134, 122, 253, .2);
    color: rgba(134, 122, 253, 1);
  }
  &.type-6 {
    background-color: rgba(33,40,180,.2);
    color: rgb(33,40,180);
  }
}

.track-i-del-btn {
  color: #2b90f3;
}

.filter {
  display: flex;
  margin: 20px 0;
}

.tracks {
  height: 142px;
  overflow: auto;
}

.el-select {
  width: 114px;
  margin-left: 25px;
  flex: none;
}
